
<div class="rowscontainer" style="width: 70%; margin: 0 auto; padding-top: 20px;">
    <div class="list-group-item header row columnsContainer">
        <div class="column">
            <img src="../assets/assets_logo-sf-small.png" style="float: left">
        </div>
        <div class="column">
            <div class="title"> MESSAGE VIEWER </div>
        </div>
    </div>
    <div class="list-group-item body row">
        <div class="rowscontainer">
            <messages-selector></messages-selector>
        </div>
        
    </div>
</div>



