<div class="row">
        Starred: {{starCount}}
</div>

<div class="row">
        <button type="button" class="btn btn-light" (click)="onClickViewButton()">
                {{viewUntrashed == true ? 'Show Trashed Messages' : 'Show Untrashed messages' }}</button>
        <button type="button" class="btn btn-light" (click)="onClickSortButton()" style="margin-left: 5px;">
                Sort Messages
        </button>
</div>

<div class="row">
        <input type="text" class="form-control input" placeholder="Search some text here..." [(ngModel)]="input">
        <button type="button" class="btn btn-primary" (click)="onClickSearchButton()" style="margin-left: 5px">
                Submit
        </button>
</div>

<ul class="list-group row">
    <div *ngFor="let message of messages" style="display: table-row;">
        <li class="list-group-item list-entry-container" *ngIf="viewUntrashed && !message.istrashed">
            <message-selector 
            [userid] = "message.userid"
            [avatar] = "message.avatar"
            [handle] = "message.handle"
            [source] = "message.source"
            [timestamp] = "message.timestamp"
            [content] = "message.content"
            [isStarred] = "message.isstarred"
            [query] = "message.query"
            (onStarStatusChange)="StarStatusChanged($event)"
            (onTrashMessage)="TrashMessage($event)"
            >  </message-selector>
        </li>
        <li class="list-group-item list-entry-container" *ngIf="!viewUntrashed && message.istrashed">
                <message-selector 
                [userid] = "message.userid"
                [avatar] = "message.avatar"
                [handle] = "message.handle"
                [source] = "message.source"
                [timestamp] = "message.timestamp"
                [content] = "message.content"
                [isStarred] = "message.isstarred"
                [isTrashed] = "message.istrashed"
                (onStarStatusChange)="StarStatusChanged($event)"
                (onTrashMessage)="TrashMessage($event)"
                >  </message-selector>
            </li>
    </div>

</ul>