<div class="msg-container">
        <div class="column left">
            <img [src] = "avatar" class="centered">
            <p class="centered"> {{handle}}</p>
        </div>
        <div class="column middle">
            <div style="color: gray">
                    {{source}} | {{timestamp}}
            </div>
                {{content}} {{starred}}
        </div>
        <div class="column right">
            <div class="button">
                <button class="button" type="button" class="btn btn-light trash-btn" (click) = "onClickTrashButton()" *ngIf="!isTrashed">
                        Trash!</button>
            </div>
            <div class="button">
                <button type="button" class="btn btn-light" (click) = "onClickStarButton()" [ngClass]="{'unstar-btn':isStarred}">
                        {{isStarred == 0 ? 'Star Message!' : 'Starred!' }}</button>
            </div>
        </div>        
</div>



