.msg-container {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.column {
    padding: 10px;
}

.button {
    float: right;
    padding: 5px;
}

.left, .right {
    width: calc(30%);
}
  
.middle {
    width: calc(40%);
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.trash-btn {
    background-color: #ff4007;
    color: #ffffff;
}
.unstar-btn {
    background-color: #f4b342;
    color: #ffffff;
}
