
/*
.trash-btn {
    background-color: #ff4007;
    color: #ffffff;
}
.unstar-btn {
    background-color: #f4b342;
    color: #ffffff;
}

.msg-container {
    display: inline-block;
    margin: 0;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.col {
    float: left;
    padding: 10px;
}

.left {
    width: 50%;
}

.mid {
    width: 50%;
}
.right {
    width: 20%;
}
.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}
* {
    box-sizing: border-box;
  }
  */

/*
.msg-container {
    margin: 0;
    padding: 10px;
    display: table-cell;
}

.column {
    float: left;
    padding: 10px;
}

.button {
    float: right;
    padding: 5px;
}

.left, .right {
    width: 25%;
}
  
.middle {
    width: 50%;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.trash-btn {
    background-color: #ff4007;
    color: #ffffff;
}
.unstar-btn {
    background-color: #f4b342;
    color: #ffffff;
}
*/


.msg-container {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.column {
    padding: 10px;
}

.button {
    float: right;
    padding: 5px;
}

.left, .right {
    width: calc(30%);
}
  
.middle {
    width: calc(40%);
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.trash-btn {
    background-color: #ff4007;
    color: #ffffff;
}
.unstar-btn {
    background-color: #f4b342;
    color: #ffffff;
}
